<launch>
  <node pkg="nodelet" type="nodelet" name="nodelet_manager"  args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="nodelet_rosbag" args="load nodelet_rosbag/NodeletRosbag nodelet_manager">
    <param name="rosbag_path" value="$(find nodelet_rosbag)/try.bag"/>
  </node>

</launch>
